{% extends 'flatpages/default.html' %}


{% block title %}
Forum main page
{% endblock title %}

{% block content %}

   <h1>Все посты</h1>

   <td><button><a href="{% url 'post_create'%}">Создать пост</a></button></td>
 

   <hr>
   {% if posts %}
       <table>
        <tr> 
            <td><b>Время</b></td>
            <td><b>Заголовок</b></td>
            <td><b>Статья</b></td>
            {% comment %} <td><b>Тип текста</b></td> {% endcomment %}
            <td><b>Категория объявления</b></td>

        </tr>

           {% for new in posts %}
           <tr>

               <td>{{ new.time_in|date:'d M Y' }}</td>
               <td><a href="{% url 'post_detail' new.id %}">{{ new.head }}</td>
               <td>{{ new.text|truncatechars:20}}</a></td>
               {% comment %} <td>{{ new.post_type}}</td> {% endcomment %}
               <td>
                {% for cat in new.category.all %}
                    {{ cat }}
                {% endfor %}
            </td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Нет постов!</h2>

      {% endif %}

   {# Добавляем пагинацию на страницу #}


{% endblock content %}